<%= render "untitled_ui/design_system/shared/example_section", title: "Default Hint" do %>
  <div class="space-y-3">
    <%= render Ui::HintText::Component.new do %>This is a helpful hint.<% end %>
    <%= render Ui::HintText::Component.new do %>Must be at least 8 characters.<% end %>
  </div>
<% end %>

<%= render "untitled_ui/design_system/shared/code_block", code: 'render Ui::HintText::Component.new { "This is a helpful hint." }' %>

<%= render "untitled_ui/design_system/shared/example_section", title: "Invalid / Error State" do %>
  <div class="space-y-3">
    <%= render Ui::HintText::Component.new(invalid: true) do %>This field is required.<% end %>
    <%= render Ui::HintText::Component.new(invalid: true) do %>Please enter a valid email address.<% end %>
  </div>
<% end %>

<%= render "untitled_ui/design_system/shared/code_block", code: 'render Ui::HintText::Component.new(invalid: true) { "This field is required." }' %>
