<div class="lg:py-1 lg:pl-1">
  <aside style="--width: <%= component.main_width %>px"
         class="<%= component.cx(
           'flex h-full w-full max-w-full flex-col justify-between overflow-auto border-secondary bg-primary pt-4 shadow-xs md:border-r lg:w-(--width) lg:rounded-xl lg:border lg:pt-5',
           component.extra_classes
         ) %>">
    <div class="flex flex-col gap-5 px-4 lg:px-5">
      <% if component.logo.present? %>
        <%= component.logo %>
      <% end %>
    </div>

    <%# Grouped items with subheadings %>
    <div class="mt-8 flex flex-col">
      <% component.items.each do |group| %>
        <% if group[:label].present? %>
          <p class="px-5 pb-1 text-xs font-bold uppercase text-quaternary"><%= group[:label] %></p>
        <% end %>
        <% if group[:items].present? %>
          <ul class="px-4 pb-5">
            <% group[:items].each do |item| %>
              <li class="py-0.5">
                <%= render(Ui::Navigation::Item::Component.new(type: :link, href: item[:href], icon: item[:icon], badge: item[:badge], current: component.active_url == item[:href])) { item[:label] } %>
              </li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </div>

    <div class="mt-auto flex flex-col gap-4 px-2 py-4 lg:px-4 lg:py-6">
      <% if component.show_account_card && component.account_card.present? %>
        <%= component.account_card %>
      <% end %>
    </div>
  </aside>
</div>
